@charset "UTF-8";

#container{
	width: 600px;
	margin: 0 auto;
	display: flex; /*수정*/
	flex-wrap: wrap; /*수정*/
}
/*  삭제
#prod-pic, #desc{
	float: left;
}
 */
/* 추가 */
h1{
	width: 100%; /*수정*/
}

#prod-pic{
	margin: 20px 0px auto 10px;
	padding: 0;
}
#small-pic{
	margin-top: 10px;
}

#desc ul{
	list-style-type: none;
	font-size: 1rem;
	line-height: 1.9;
}

.bluetext{
	color: blue;
	font-weight: bold;
}

.small{
	width: 60px;
	height: 60px;
	margin-right: 5px;
}

#view{
	text-decoration: none;
	font-size: 0.9em;
	color: blue;
	margin-left: 40px;
}

#detail{
	clear:both;
	display: none;
	padding-bottom: 20px;
}

button{
	padding: 10px 80px ; 
	margin: 40px 0px 0px 0px;
}